@import "components/detail/detail.scss";
*{
  margin: 0;
  padding: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
}
a{
  text-decoration: none;
  margin: 0 10px;
}
#header{
  /*background: black;*/
}
.header-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  margin: 0 10px;
}
.popular{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 11px;
}