@import "components/detail/detail.scss";
*{
  margin: 0;
  padding: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
}
a{
  text-decoration: none;
  margin: 0 10px;
}
#header{
  /*background: black;*/
}
.header-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  margin: 0 10px;
  color: white;
}
.popular{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 11px;
}
.footer-btn{
  margin-top: 10px;
  width: 180px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family:'Source Sans Pro', Arial,sans-serif;
  color: #01B4E4;
}
.footer-logo h4,h2{
  font-family:'Source Sans Pro', Arial,sans-serif;
}
.footer-logo h4{
  /*padding: 10px 0;*/
}

.header-movie{
  display: flex;
  align-items: center;
}
.input{
  padding: 10px 15px;
}